<div class="container-edicao">

  <form class="form mat-elevation-z4">
    <h3>{{editar?"Editar Cliente":"Novo Cliente"}}</h3>
    <div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="cliente.nomeClienteRazaoSocial" maxlength="100" [required]="true" name="nome">
        </mat-form-field>
      </div>

      <label>Tipo de Pessoa</label>
      <div class="input-container">
        <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="radiostatus" [value]="0" [(ngModel)]="cliente.tipoPessoaEnum">
          <label>Pessoa Física</label>
        </label>
        <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="radiostatus" [value]="1" [(ngModel)]="cliente.tipoPessoaEnum">
          <label>Pessoa Jurídica</label>
        </label>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>{{cliente.tipoPessoaEnum == 0 ? "CPF" : "CNPJ"}}</mat-label>
          <input matInput placeholder="CPF" [(ngModel)]="cliente.cpfCnpj" name="cpf" mascara="999.999.999-99"  *ngIf="cliente.tipoPessoaEnum == 0">
          <input matInput placeholder="CNPJ" [(ngModel)]="cliente.cpfCnpj" name="cnpj" mascara="99.999.999/9999-99" *ngIf="cliente.tipoPessoaEnum == 1">
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="CEP" [(ngModel)]="cliente.cep" name="cep" mascara="99.999-999">
        </mat-form-field>
      </div>

      <label>Classificação *</label>
      <div class="input-container">
        <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="classific" [value]="0" [(ngModel)]="cliente.classificacao">
          <label>Ativo</label>
        </label>
        <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="classific" [value]="1" [(ngModel)]="cliente.classificacao">
          <label>Inativo</label>
        </label>
        <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="classific" [value]="2" [(ngModel)]="cliente.classificacao">
          <label>Preferencial</label>
        </label>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="e-mail" [(ngModel)]="cliente.email" [required]="true" [email]="true" name="email" >
        </mat-form-field>
      </div>

      <div>
        <button  mat-raised-button color="primary" (click)="adicionarTelefone()"> <mat-icon>add</mat-icon>Adicionar Telefonte</button>
        <div *ngFor="let telefone of cliente.telefones; let i=index">
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="(DDD)9999-9999" name={{i}} [ngModel]="cliente.telefones[i]" id="wave{{telefone}}"
                   mascara="(99)9999-9999" (change)="mudarValor(i,$event.target.value)">
          </mat-form-field>
        </div>
      </div>
      <div class="actions">
        <button  mat-stroked-button (click)="voltar()"> <mat-icon>arrow_back</mat-icon>Voltar</button>
        <button  mat-stroked-button color="primary" (click)="criarCliente()"> <mat-icon>check</mat-icon>Salvar</button>
      </div>
    </div>
  </form>
</div>
