<div class="lista-header">
  <div>
    <mat-label>Pesquisar</mat-label>
    <input matInput type="text" [(ngModel)]="pesquisaValue">
    <button mat-raised-button color="primary" (click)="pesquisarPorFiltroPesquisa()" >Pesquisar</button>
  </div>
  <button  mat-raised-button color="primary" (click)="cadastroCliente()"> <mat-icon>add</mat-icon>Cadastrar</button>
</div>
<mat-table #table [dataSource]="dataSource"
  matSort (matSortChange)="ordenar($event)">

    <ng-container matColumnDef="nomeClienteRazaoSocial">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Cliente
      </mat-header-cell>
      <mat-cell *matCellDef="let Cliente">
        {{ Cliente.nomeClienteRazaoSocial }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoPessoaEnum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Tipo Pessoa
      </mat-header-cell>
      <mat-cell *matCellDef="let Cliente">
        {{ Cliente.tipoPessoaEnum == 0 ? 'Pessoa Física' : 'Pessoa Jurídica' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpfCnpj">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	CPF/CNPJ
      </mat-header-cell>
      <mat-cell *matCellDef="let Cliente">
      	{{ Cliente.cpfCnpj | CEPCPFCNPJ }}
      </mat-cell>
    </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      E-mail
    </mat-header-cell>
    <mat-cell *matCellDef="let Cliente">
      {{ Cliente.email }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cep">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      CEP
    </mat-header-cell>
    <mat-cell *matCellDef="let Cliente">
      {{ Cliente.cep | CEPCPFCNPJ }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="classificacao">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Classificação
    </mat-header-cell>
    <mat-cell *matCellDef="let Cliente">
      {{ Cliente.classificacao == 0 ? 'Ativo' : Cliente.classificacao == 1 ? 'Inativo' : 'Preferencial' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acao">
      <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
      <mat-cell *matCellDef="let Cliente">

        <a (click)="visualizarTelefonesDialog(Cliente.nomeClienteRazaoSocial, Cliente.telefones)"
        ><mat-icon matTooltip="Verificar telefones">contact_phone</mat-icon></a>

        <a routerLink="{{ '/cadastro/' + Cliente.id }}"
          ><mat-icon matTooltip="Editar Cliente">create</mat-icon></a>

        <a (click)="excluirCliente(Cliente.id)"
        ><mat-icon matTooltip="Verificar telefones">delete</mat-icon></a>

      </mat-cell>
    </ng-container>

	<mat-header-row 
		*matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
</mat-table>

<mat-paginator 
  [length]="totalContas"
  [pageSize]="5"
  (page)="paginar($event)">
</mat-paginator>



